<div class="overlay btn-toggle"></div>

<footer class="page-footer">
	<p class="mb-0">Copyright © 2024. All right reserved.</p>
</footer>

<button class="btn btn-grd btn-grd-primary position-fixed bottom-0 end-0 m-3 d-flex align-items-center gap-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop">
	<i class="material-icons-outlined">tune</i>Özelleştir
</button>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="staticBackdrop">
	<div class="offcanvas-header border-bottom h-70">
		<div class="">
			<h5 class="mb-0">Temayı özelleştir</h5>
			<p class="mb-0">Temayı özelleştir</p>
		</div>
		<a href="javascript:void(0)" class="primaery-menu-close" data-bs-dismiss="offcanvas">
			<i class="material-icons-outlined">close</i>
		</a>
	</div>
	<div class="offcanvas-body">
            <div>
                <p>Tema seçenekleri</p>
                <div class="row g-3">
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="blue-theme" {% if theme == 'blue-theme' %} checked {% endif %}>
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="blue-theme">
                            <span class="material-icons-outlined">contactless</span>
                            <span>Mavi</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="light">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="light">
                            <span class="material-icons-outlined">light_mode</span>
                            <span>Modern</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="dark">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="dark">
                            <span class="material-icons-outlined">dark_mode</span>
                            <span>Koyu</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="semi-dark">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="semi-dark">
                            <span class="material-icons-outlined">contrast</span>
                            <span>Yarı koyu</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="bordered-theme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="bordered-theme">
                            <span class="material-icons-outlined">border_style</span>
                            <span>Minimal</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
</div>
