<div class="card">
    <div class="card-body">
        <h5 class="mb-3">Orders<span class="fw-light ms-2">(98)</span></h5>
        <div class="product-table">
            <div class="table-responsive white-space-nowrap">
                <table class="table align-middle">
                    <thead class="table-light">
                    <tr>
                        <th>Order</th>
                        <th>Expense</th>
                        <th>Payment Status</th>
                        <th>Order Status</th>
                        <th>Delivery Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>#2453</td>
                        <td>$865</td>
                        <td><span
                                    class="lable-table bg-success-subtle text-success rounded border border-success-subtle font-text2 fw-bold">Paid<i
                                        class="bi bi-check2 ms-2"></i></span></td>
                        <td><span
                                    class="lable-table bg-success-subtle text-success rounded border border-success-subtle font-text2 fw-bold">Completed<i
                                        class="bi bi-check2 ms-2"></i></span></td>
                        <td>Cash on delivery</td>
                        <td>Jun 12, 12:56 PM</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle dropdown-toggle-nocaret" type="button"
                                        data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:;"><i class="bi bi-eye-fill me-2"></i>View</a>
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:;"><i
                                                    class="bi bi-box-arrow-right me-2"></i>Export</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:;"><i
                                                    class="bi bi-trash-fill me-2"></i>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#7845</td>
                        <td>$427</td>
                        <td><span
                                    class="lable-table bg-danger-subtle text-danger rounded border border-danger-subtle font-text2 fw-bold">Failed<i
                                        class="bi bi-x-lg ms-2"></i></span></td>
                        <td><span
                                    class="lable-table bg-primary-subtle text-primary rounded border border-primary-subtle font-text2 fw-bold">Completed<i
                                        class="bi bi-check2 ms-2"></i></span></td>
                        <td>Cash on delivery</td>
                        <td>Jun 12, 12:56 PM</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle dropdown-toggle-nocaret" type="button"
                                        data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:;"><i class="bi bi-eye-fill me-2"></i>View</a>
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:;"><i
                                                    class="bi bi-box-arrow-right me-2"></i>Export</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:;"><i
                                                    class="bi bi-trash-fill me-2"></i>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#9635</td>
                        <td>$123</td>
                        <td><span
                                    class="lable-table bg-warning-subtle text-warning rounded border border-warning-subtle font-text2 fw-bold">Pending<i
                                        class="bi bi-info-circle ms-2"></i></span></td>
                        <td><span
                                    class="lable-table bg-danger-subtle text-danger rounded border border-danger-subtle font-text2 fw-bold">Failed<i
                                        class="bi bi-x-lg ms-2"></i></span></td>
                        <td>Cash on delivery</td>
                        <td>Jun 12, 12:56 PM</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle dropdown-toggle-nocaret" type="button"
                                        data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:;"><i class="bi bi-eye-fill me-2"></i>View</a>
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:;"><i
                                                    class="bi bi-box-arrow-right me-2"></i>Export</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:;"><i
                                                    class="bi bi-trash-fill me-2"></i>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#2415</td>
                        <td>$986</td>
                        <td><span
                                    class="lable-table bg-primary-subtle text-primary rounded border border-primary-subtle font-text2 fw-bold">Completed<i
                                        class="bi bi-check2-all ms-2"></i></span></td>
                        <td><span
                                    class="lable-table bg-warning-subtle text-warning rounded border border-warning-subtle font-text2 fw-bold">Pending<i
                                        class="bi bi-info-circle ms-2"></i></span></td>
                        <td>Cash on delivery</td>
                        <td>Jun 12, 12:56 PM</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle dropdown-toggle-nocaret" type="button"
                                        data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:;"><i class="bi bi-eye-fill me-2"></i>View</a>
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:;"><i
                                                    class="bi bi-box-arrow-right me-2"></i>Export</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:;"><i
                                                    class="bi bi-trash-fill me-2"></i>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#3526</td>
                        <td>$104</td>
                        <td><span
                                    class="lable-table bg-danger-subtle text-danger rounded border border-danger-subtle font-text2 fw-bold">Failed<i
                                        class="bi bi-x-lg ms-2"></i></span></td>
                        <td><span
                                    class="lable-table bg-success-subtle text-success rounded border border-success-subtle font-text2 fw-bold">Completed<i
                                        class="bi bi-check2 ms-2"></i></span></td>
                        <td>Cash on delivery</td>
                        <td>Jun 12, 12:56 PM</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle dropdown-toggle-nocaret" type="button"
                                        data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:;"><i class="bi bi-eye-fill me-2"></i>View</a>
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:;"><i
                                                    class="bi bi-box-arrow-right me-2"></i>Export</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:;"><i
                                                    class="bi bi-trash-fill me-2"></i>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#7845</td>
                        <td>$368</td>
                        <td><span
                                    class="lable-table bg-success-subtle text-success rounded border border-success-subtle font-text2 fw-bold">Paid<i
                                        class="bi bi-check2 ms-2"></i></span></td>
                        <td><span
                                    class="lable-table bg-danger-subtle text-danger rounded border border-danger-subtle font-text2 fw-bold">Failed<i
                                        class="bi bi-x-lg ms-2"></i></span></td>
                        <td>Cash on delivery</td>
                        <td>Jun 12, 12:56 PM</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle dropdown-toggle-nocaret" type="button"
                                        data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:;"><i class="bi bi-eye-fill me-2"></i>View</a>
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:;"><i
                                                    class="bi bi-box-arrow-right me-2"></i>Export</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:;"><i
                                                    class="bi bi-trash-fill me-2"></i>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#256</td>
                        <td>$865</td>
                        <td><span
                                    class="lable-table bg-warning-subtle text-warning rounded border border-warning-subtle font-text2 fw-bold">Pending<i
                                        class="bi bi-info-circle ms-2"></i></span></td>
                        <td><span
                                    class="lable-table bg-primary-subtle text-primary rounded border border-primary-subtle font-text2 fw-bold">Completed<i
                                        class="bi bi-check2-all ms-2"></i></span></td>
                        <td>Cash on delivery</td>
                        <td>Jun 12, 12:56 PM</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle dropdown-toggle-nocaret" type="button"
                                        data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:;"><i class="bi bi-eye-fill me-2"></i>View</a>
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:;"><i
                                                    class="bi bi-box-arrow-right me-2"></i>Export</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" href="javascript:;"><i
                                                    class="bi bi-trash-fill me-2"></i>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>