<div id="photo-storage" class="row g-3 justify-content-center">
    <script type="module">
        import { apiGet } from '{{ asset('script/modules/bundles/api-controller/ApiController.js') }}';
        const pnonce = Date.now().toString();
        $(document).ready(async ()=>{
            const photoBuilder = photo =>`
                <div class="col-sm-6 mb-3" id="${photo.id}">
                    <div class="card rounded-2 border border-danger h-100 d-flex flex-column">
                        <div class="row g-0">
                            <div class="col-md-4 border-end">
                                <div class="p-3 align-self-center">
                                    <img src="https://${photo.path}" alt="${photo.altTag ?? 'not-provided'}" class="img-fluid rounded-start">
                                </div>
                            </div>
                            <div class="col-md-8 border-start">
                                <div class="card-body">
                                    <div
                                        class="card-text">
                                        <!-- Photo Title -->
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="${photo.id}-title">
                                                Fotoğraf Başlığı
                                            </label>
                                            <input type="text" class="form-control" placeholder="Fotoğraf başlığı giriniz.." id="${photo.id}-title" value="${photo.title ?? 'Fotoğraf başlığı'}">
                                        </div>
                                        <!-- Alt Tag -->
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="${photo.id}-altTag">Alt Etiket</label>
                                            <input type="text" class="form-control" placeholder="Alt etiket giriniz.." id="${photo.id}-altTag" value="${photo.altTag??'Fotoğraf başlığı'}">
                                        </div>

                                        <!-- Creation Date -->
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="${photo.id}-createdAt">
                                                Oluşturuldu
                                            </label>
                                            <input id="${photo.id}-createdAt" type="text" class="form-control" disabled value="${photo.createdAt}">
                                        </div>

                                        <!-- Update Date -->
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="${photo.id}-updatedAt">
                                                Güncellendi
                                            </label>
                                            <input id="${photo.id}-updatedAt" type="text" class="form-control" disabled value="${photo.updatedAt}">
                                        </div>

                                        <!-- Delete Photo Button -->
                                        <div class="input-group mb-3">
                                            <button class="btn btn-danger btn-sm photo-delete-button" data-photo-id="${photo.id}">
                                                <i class="fa fa-trash"></i>Sil
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `;
    
            apiGet(`/_json/product/${window.Twig.productId}/photos`, {
                success: (success)=>{
                    Array.from(success['hydra:member'])
                        .forEach(
                            member=>$('#photo-storage').append(photoBuilder(member))
                        );
    
                    $(`button.${pnonce}-photo-update-btn`).on('click',function () {
                        console.log('update');
                    });
                    
                    $(`button.${pnonce}-photo-delete-btn`).on('click', function (){
                        console.log('delete');
                    });
                }
            });
        });
    </script>
</div>