<div class="card mt-4">
    <div class="card-body">
        <div class="product-table">
            <div class="table-responsive white-space-nowrap">
                <table class="table align-middle">
                    <thead class="table-light">
                    <tr>
                        <th>İşletme Adı</th>
                        <th>Değerlendirme</th>
                        <th>Yorum</th>
                        <th>Oluşturulma Tarihi</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('script/admin/review/index.js') }}"></script>