<div class="card mt-4">
    <div class="card-body">
        <h5 class="mb-3 fw-bold">Ratings & Reviews<span class="fw-light ms-2">(86)</span></h5>
        <div class="product-table">
            <div class="table-responsive white-space-nowrap">
                <table class="table align-middle">
                    <thead class="table-light">
                    <tr>
                        <th>İşletme Adı</th>
                        <th>Değerlendirme</th>
                        <th>Yorum</th>
                        <th>Oluşturulma Tarihi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="javascript:;" class="product-title">Women Pink Floral Printed Panelled Pure Cotton</a>
                        </td>
                        <td>
                            <div class="product-rating text-warning">
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </td>
                        <td class="review-desc">This is very awesome product. It has good quality. I suggest everyone to use this
                            product. It is available at very low amount.</td>
                        <td><span
                                    class="lable-table bg-success-subtle text-success rounded border border-success-subtle font-text2 fw-bold">Completed<i
                                        class="bi bi-check2 ms-2"></i></span></td>
                        <td>Jun 12, 12:56 PM</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:;" class="product-title">Women Pink Floral Printed Panelled Pure Cotton</a>
                        </td>
                        <td>
                            <div class="product-rating text-warning">
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </td>
                        <td class="review-desc">This is very awesome product. It has good quality. I suggest everyone to use this
                            product. It is available at very low amount.</td>
                        <td><span
                                    class="lable-table bg-danger-subtle text-danger rounded border border-danger-subtle font-text2 fw-bold">Failed<i
                                        class="bi bi-x-lg ms-2"></i></span></td>
                        <td>Jun 12, 12:56 PM</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:;" class="product-title">Women Pink Floral Printed Panelled Pure Cotton</a>
                        </td>
                        <td>
                            <div class="product-rating text-warning">
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </td>
                        <td class="review-desc">This is very awesome product. It has good quality. I suggest everyone to use this
                            product. It is available at very low amount.</td>
                        <td><span
                                    class="lable-table bg-primary-subtle text-primary rounded border border-primary-subtle font-text2 fw-bold">Completed<i
                                        class="bi bi-check2-all ms-2"></i></span></td>
                        <td>Jun 12, 12:56 PM</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:;" class="product-title">Women Pink Floral Printed Panelled Pure Cotton</a>
                        </td>
                        <td>
                            <div class="product-rating text-warning">
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </td>
                        <td class="review-desc">This is very awesome product. It has good quality. I suggest everyone to use this
                            product. It is available at very low amount.</td>
                        <td><span
                                    class="lable-table bg-success-subtle text-success rounded border border-success-subtle font-text2 fw-bold">Completed<i
                                        class="bi bi-check2 ms-2"></i></span></td>
                        <td>Jun 12, 12:56 PM</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:;" class="product-title">Women Pink Floral Printed Panelled Pure Cotton</a>
                        </td>
                        <td>
                            <div class="product-rating text-warning">
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </td>
                        <td class="review-desc">This is very awesome product. It has good quality. I suggest everyone to use this
                            product. It is available at very low amount.</td>
                        <td><span
                                    class="lable-table bg-danger-subtle text-danger rounded border border-danger-subtle font-text2 fw-bold">Failed<i
                                        class="bi bi-x-lg ms-2"></i></span></td>
                        <td>Jun 12, 12:56 PM</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="javascript:;" class="product-title">Women Pink Floral Printed Panelled Pure Cotton</a>
                        </td>
                        <td>
                            <div class="product-rating text-warning">
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-half"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </td>
                        <td class="review-desc">This is very awesome product. It has good quality. I suggest everyone to use this
                            product. It is available at very low amount.</td>
                        <td><span
                                    class="lable-table bg-warning-subtle text-warning rounded border border-warning-subtle font-text2 fw-bold">Pending<i
                                        class="bi bi-info-circle ms-2"></i></span></td>
                        <td>Jun 12, 12:56 PM</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('/script/pages/review/index.js') }}"></script>