{% extends 'public/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('plugins/bs-stepper/css/bs-stepper.css') }}">
{% endblock %}

{% block body %}
    <div id="ownershipstepper" class="bs-stepper">
        <div class="card">

            <div class="card-header">
                <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
                    <div class="step" data-target="#test-nl-1">
                        <div class="step-trigger" role="tab" id="stepper2trigger1" aria-controls="test-nl-1">
                            <div class="bs-stepper-circle"><i class='material-icons-outlined'>contact_page</i></div>
                            <div class="">
                                <h5 class="mb-0 steper-title">Başvuru Formu</h5>
                                    <p class="mb-0 steper-sub-title">Başvurunuzu doldurun</p>
                            </div>
                        </div>
                    </div>
                    <div class="bs-stepper-line"></div>
                    <div class="step" data-target="#test-nl-2">
                        <div class="step-trigger" role="tab" id="stepper2trigger2" aria-controls="test-nl-2">
                            <div class="bs-stepper-circle"><i class='material-icons-outlined'>phone_in_talk</i></div>
                            <div class="">
                                <h5 class="mb-0 steper-title">Telefon Doğrulama</h5>
                                <p class="mb-0 steper-sub-title">Telefon numaranızı doğrulayın.</p>
                            </div>
                        </div>
                    </div>
                    <div class="bs-stepper-line"></div>
                    <div class="step" data-target="#test-nl-3">
                        <div class="step-trigger" role="tab" id="stepper2trigger3" aria-controls="test-nl-3">
                            <div class="bs-stepper-circle"><i class='material-icons-outlined'>contact_mail</i></div>
                            <div class="">
                                <h5 class="mb-0 steper-title">E-posta adresi doğrulama</h5>
                                <p class="mb-0 steper-sub-title">E-posta adresinizi doğrulayın</p>
                            </div>
                        </div>
                    </div>
                    <div class="bs-stepper-line"></div>
                    <div class="step" data-target="#test-nl-4">
                        <div class="step-trigger" role="tab" id="stepper2trigger4" aria-controls="test-nl-4">
                            <div class="bs-stepper-circle"><i class='material-icons-outlined'>sentiment_satisfied</i></div>
                            <div class="">
                                <h5 class="mb-0 steper-title">Sonuç</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="bs-stepper-content">
                    <form onSubmit="return false">
                        <div id="test-nl-1" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper2trigger1">
                            <h5 class="mb-1" id="placename"></h5>
                            <p class="mb-4" id="placedescription"></p>
                            <div class="row g-3">
                                <div class="col-12 col-lg-6">
                                    <label for="firstName" class="form-label">İsim</label>
                                    <input type="text" value="onurkudret" class="form-control" id="firstName" placeholder="Adınız">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="lastName" class="form-label">Soyisim</label>
                                    <input type="text" value="onurkudret" class="form-control" id="lastName" placeholder="Soyadınız">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="address" class="form-label">Adres</label>
                                    <input type="text" value="tru" class="form-control" id="address" placeholder="Tam adresiniz">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="email" class="form-label">E-posta adresi</label>
                                    <input type="email" value="onurkudrt31@gmail.com" class="form-control" id="email" placeholder="ornek@yakalamac.com.tr">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="mobilephone" class="form-label">Telefon Numarası</label>
                                    <input type="text" value="5387055798" class="form-control" id="mobilephone" placeholder="5XXXXXXXXX">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <button class="btn btn-grd-primary px-4 text-white" onclick="stepper2.next()">İLERLE<i class='bx bx-right-arrow-alt ms-2'></i></button>
                                </div>
                            </div><!---end row-->


                        </div>

                        <div id="test-nl-2" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper2trigger2">
                            <h5 class="mb-1"></h5>
                            <p class="mb-4"></p>

                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="d-flex align-items-center gap-3">
                                        <button class="btn btn-success px-4" data-verification-sender-button="mobile">Gönder</button>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-3 col-4">
                                    <input name="mobile" id="inputmobile" class="form-control" type="text" maxlength="6" aria-label="mobile" placeholder="Doğrulama kodunu giriniz">
                                </div>
                                <div class="col-12">
                                    <div class="d-flex align-items-center gap-3">
                                        <button class="btn btn-grd-danger px-4 text-white" onclick="stepper2.previous()"><i class='bx bx-left-arrow-alt me-2'></i>ÖNCEKİ ADIM</button>
                                        <button class="btn btn-success px-4" onclick="stepper2.next()">İLERLE<i class='bx bx-right-arrow-alt ms-2'></i></button>
                                    </div>
                                </div>
                            </div><!---end row-->
                        </div>

                        <div id="test-nl-3" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper2trigger3">
                            <h5 class="mb-1"></h5>
                            <p class="mb-4"></p>

                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="d-flex align-items-center gap-3">
                                        <button class="btn btn-success px-4" data-verification-sender-button="email">Gönder</button>
                                    </div>
                                    <div class="d-flex align-items-center gap-3 col-4">
                                        <input name="email" id="inputemail" class="form-control" type="text" maxlength="6" aria-label="email" placeholder="Doğrulama kodunu giriniz">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-flex align-items-center gap-3">
                                        <button class="btn btn-grd-danger px-4 text-white" onclick="stepper2.previous()"><i class='bx bx-left-arrow-alt me-2'></i>ÖNCEKİ ADIM</button>
                                        <button class="btn btn-success px-4" onclick="stepper2.next()">İLERLE<i class='bx bx-right-arrow-alt ms-2'></i></button>
                                    </div>
                                </div>
                            </div><!---end row-->

                        </div>

                        <div id="test-nl-4" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper2trigger4">
                            <h5 class="mb-1">Tebrikler</h5>
                            <p class="mb-4">İşletme oluşturma talebiniz işleme alındı.</p>
                            <p><small>Ekibimzi tarafında gerekli incelemeler sonrasında işletmeniz oluşturulacaktır.</small></p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--end stepper two-->
{% endblock %}


{% block javascripts %}
    <script>
        window.transporter = {
            pid : {{ pid|json_encode|raw }}
        };
    </script>
    <script src="{{ asset('plugins/bs-stepper/js/bs-stepper.min.js') }}"></script>
    <script src="{{ asset('script/public/ownership.js') }}"></script>
{% endblock %}