
{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3"><h1>Kullanıcılar</h1></div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"></a> </li>
                        <li class="breadcrumb-item active" aria-current="page">Tüm Kullanıcılar</li>
                     </ol>
                </nav>
            </div>
        <button id="addUserButton" class="right2 btn btn-grd btn-grd-success add-btn"> Kullanıcı Ekle</button>
    </div>
    <table id="usersTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Kullanıcı</th>
                        <th>E-Posta Adresi</th>
                        <th>İşlem</th>
                    </tr>       
                    </thead>
                </table>
{% endblock %}
    
{% block javascripts %}
    <script type="module" src="{{ asset('script/admin/users/index.js') }}"></script>
{% endblock %}