<div class="product-table" id="product-table-container">
    <div class="table-responsive white-space-nowrap">
        <div class="row d-flex">
            <div id="paginationContainer" class="col"></div>
            <div class="col text-end">
                <select aria-label="Length" class="btn btn-warning bg-white px-4">
                    <option>15</option>
                    <option>30</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>
        <table class="table align-middle" id="product-table">
            <thead class="table-light">
            <tr>
                <th><input aria-label="checkbox" class="form-check-input" type="checkbox"></th>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Kategori</th>
                <th>Etiketler</th>
                <th>Değerlendirme</th>
                <th>Oluşturulma Tarihi</th>
            </tr>
            </thead>
            <tbody>
                {#  TODO  #}
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        <input aria-label="checkbox" class="form-check-input" type="checkbox">
                    </th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Kategori</th>
                    <th>Etiketler</th>
                    <th>Değerlendirme</th>
                    <th>Oluşturulma Tarihi</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
