<style>
    li {
        line-height: 2;
        width: max-content;
    }
    ul {
        margin: auto;
        padding: 1vh;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="container d-flex  justify-content-between">
            <!-- Logo -->
            <div class="d-flex align-items-center">
                <img src="https://cdn.yaka.la/assets/web/logo-removebg.png" class="me-3" width="100" alt="Yakalamaç Logo">
            </div>
            <!-- Footer Links -->
            <div class="d-flex gap-5">
                <div class="col">
                    <h6 class="text-uppercase fw-bold">Yakalamaç</h6>
                    <ul class="list-unstyled list-group-flush mb-0">
                        <li class="list-group-item"><a href="#" class="text-black-50 text-decoration-none">Hakkımızda</a></li>
                        <li class="list-group-item"><a href="" class="text-black-50 text-decoration-none">İşletmeler</a></li>
                        <li class="list-group-item"><a href="#" class="text-black-50 text-decoration-none">Web platform</a></li>
                        <li class="list-group-item"><a href="#" class="text-black-50 text-decoration-none">Mobil platform</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h6 class="text-uppercase fw-bold">Ek Bilgiler</h6>
                    <ul class="list-unstyled list-group-flush mb-0">
                        <li class="list-group-item"><a href="{{ path('app_public_privacy_policy') }}" class="text-black-50 text-decoration-none">Gizlilik Politikası</a></li>
                        <li class="list-group-item"><a href="{{ path('app_public_terms_of_use') }}" class="text-black-50 text-decoration-none">Kullanım Koşulları</a></li>
                        <li class="list-group-item"><a href="#" class="text-black-50 text-decoration-none">Çerez Politikası</a></li>
                        <li class="list-group-item"><a href="#sss" class="text-black-50 text-decoration-none">SSS</a></li>
                    </ul>
                </div>
                
                <div class="col">
                  <h6 class="text-uppercase fw-bold">Destek</h6>
                  <ul class="list-unstyled list-group-flush mb-0">
                    <li class="list-group-item"><a href="#" class="text-black-50 text-decoration-none">İletişim</a></li>
                  </ul>
                </div>
            </div>
            <p class="text-start mt-3 p-0">
                Kazımdirik,
                Üniversite Caddesi,
                35100 Bornova/İzmir, Türkiye
            </p>
        </div>
    </div>
    <p class="text-center mt-3">&copy; 2025 Yaka.la. Tüm hakları saklıdır.</p>
</div>