<nav class="navbar navbar-expand align-items-center justify-content-between gap-4 border-bottom" style="background-color: #00B8C0; opacity: 95%;">
    <div class="logo-header d-none d-xl-flex align-items-center gap-2">
        <div class="p-4 logo-icon">
            <a href="/">
                <img src="https://yakalamac.b-cdn.net/assets/web/partner/index/yakalamac-logo-white.png" class="logo-img" width="150" alt="">
            </a>
        </div>
    </div>
    <ul class="navbar-nav gap-1 nav-right-links align-items-center px-5">
        <li class="nav-item dropdown position-static  d-md-flex d-none">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-auto-close="outside"
               data-bs-toggle="dropdown" href="javascript:void(0)"><i class="material-icons-outlined">help</i></a>
            <div class="dropdown-menu dropdown-menu-end mega-menu shadow-lg p-4 p-lg-5">
                <div class="mega-menu-widgets">
                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4 g-lg-5">
                        <div class="col">
                            <div class="card rounded-4 shadow-none border mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3">
                                        <img src="https://yakalamac.b-cdn.net/assets/web/partner/index/marketing.png" width="40" alt="">
                                        <div class="mega-menu-content">
                                            <a href="/marketing"><h5>Pazarlama</h5></a>
                                            <p class="mb-0 f-14">Restoranların kampanya ve indirim duyurularını kolayca oluşturabileceği pazarlama araçlarını yönetin.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-4 shadow-none border mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3">
                                        <img src="https://cdn.yaka.la/assets/web/partner/index/social.png" width="40" alt="">
                                        <div class="mega-menu-content">
                                            <h5>Sosyal Medya</h5>
                                            <p class="mb-0 f-14">Menü güncellemelerini ve promosyonları doğrudan sosyal medya hesaplarınızla paylaşın.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-4 shadow-none border mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3">
                                        <img src="https://cdn.yaka.la/assets/web/partner/index/pricing.png" width="40" alt="">
                                        <div class="mega-menu-content">
                                            <h5>Fiyatlandırma</h5>
                                            <p class="mb-0 f-14">Farklı yemekler ve hizmetler için esnek fiyatlandırma seçeneklerini yönetin; saat bazlı veya ürün bazlı indirimler belirleyin.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-4 shadow-none border mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3">
                                        <img src="https://cdn.yaka.la/assets/web/partner/index/adds.png" width="40" alt="">
                                        <div class="mega-menu-content">
                                            <h5>Reklam</h5>
                                            <p class="mb-0 f-14">Hedef kitlenize özel dijital reklam kampanyaları oluşturun ve restoran görünürlüğünüzü artırın.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-4 shadow-none border mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3">
                                        <img src="https://cdn.yaka.la/assets/web/partner/index/reservation.png" width="40" alt="">
                                        <div class="mega-menu-content">
                                            <h5>Rezervasyon</h5>
                                            <p class="mb-0 f-14">Müşterilerinize online rezervasyon fırsatı sunun.
                                                Restoranınızda verimli rezervasyonlar alarak
                                                müşteri trafiğini yönetin, yerinizi önceden ayırtarak operasyonel verimliliğinizi artırın.
                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-4 shadow-none border mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3">
                                        <img src="https://cdn.yaka.la/assets/web/partner/index/analysis.png" width="40" alt="">
                                        <div class="mega-menu-content">
                                            <h5>Analiz</h5>
                                            <p class="mb-0 f-14">Günlük, haftalık ve aylık satış performansınızı analiz edin ve raporlayın.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-4 shadow-none border mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3">
                                        <img src="https://cdn.yaka.la/assets/web/partner/index/tools.png" width="40" alt="">
                                        <div class="mega-menu-content">
                                            <h5>Yardımcı Araçlar</h5>
                                            <p class="mb-0 f-14">Menü tasarım aracı, QR menü üretici gibi işinizi kolaylaştıran araçlara hızlı erişim sağlayın.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card rounded-4 shadow-none border mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-start gap-3">
                                        <img src="https://cdn.yaka.la/assets/web/partner/index/academy.png" width="40" alt="">
                                        <div class="mega-menu-content">
                                            <h5>Akademi</h5>
                                            <p class="mb-0 f-14">Restoran yönetimi, müşteri deneyimi ve dijital pazarlama gibi konularda eğitim materyalleriyle kendinizi geliştirin.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown position-static d-md-flex d-none">
            <a href="/login">
                <div class="col">
                    <button type="button" class="btn btn-warning px-5">Giriş Yap</button>
                </div>
            </a>
        </li>
    </ul>
</nav>
