{% extends 'admin/base.html.twig' %}

{# Content Blocks #}

{% block basic_block %}
    <form>
            <div class="col-1 text-center m-auto">
                <div class="form-check form-switch form-check-success">
                    <label for="place_owner" class="form-check-label" id="place_owner_label">
                        Sahipli
                    </label>
                    <input type="checkbox" class="form-check-input" name="place_owner" id="place_owner">
                    <script>
                        // Custom script for checkbox
                        document.getElementById('place_owner').addEventListener(
                            'change', event => {
                                if (event.target.checked)
                                    document.getElementById('place_owner_label').textContent += '¿';
                                else
                                    document.getElementById('place_owner_label').textContent
                                        = document.getElementById('place_owner_label').textContent.replace('¿', '');
                            }
                        );
                    </script>
                </div>
            </div>
            <div class="col-11">
                <label for="place_name" class="card-title font-20">
                    İşletme Adı
                </label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="place_name" placeholder="İşletme Adı"
                           id="place_name">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Multi Select</label>
            <div class="bootstrap-tagsinput">
                        <span class="badge bg-primary">
                            Amsterdam
                            <span data-role="remove"></span>
                        </span>
                <span class="badge bg-primary">
                            Washington
                            <span data-role="remove"></span>
                        </span>
                <span class="badge bg-primary">
                            Sydney
                            <span data-role="remove"></span>
                        </span>
                <span class="badge bg-primary">
                            Beijing
                            <span data-role="remove"></span>
                        </span>
                <span class="badge bg-primary">
                            Cairo
                            <span data-role="remove"></span>
                        </span>
                <input type="text" placeholder="">
            </div>
            <select multiple="" data-role="tagsinput" class="visually-hidden">
                <option value="Amsterdam" selected="selected">Amsterdam</option>
                <option value="Washington" selected="selected">Washington</option>
                <option value="Sydney" selected="selected">Sydney</option>
                <option value="Beijing" selected="selected">Beijing</option>
                <option value="Cairo" selected="selected">Cairo</option>
            </select>
        </div>

        <label for="place_name">
            Değerlendirme
        </label>
        <div class="input-group-sm">
            <input type="text" class="form-control" name="place_rate" placeholder="İşletme Adı" id="place_name">
        </div>

        <div class="card">
            <div class="card-header">
                <label for="place_name" class="form-label">
                    Değerlendirme
                </label>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Toplam Değerlendirme</span>
                    <input type="text" class="form-control" name="place_rate" placeholder="İşletme Adı"
                           id="place_name">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Değerlendirme Ortalaması</span>
                    <input type="text" class="form-control" name="place_rate" placeholder="İşletme Adı"
                           id="place_name">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Değerlendirme Sayısı</span>
                    <input type="text" class="form-control" name="place_rate" placeholder="İşletme Adı"
                           id="place_name">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block media_block %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
{% endblock %}
{% block tag_block %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
{% endblock %}


{% block product_list_block %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
{% endblock %}

{% block meta_block %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-default">
    </div>
{% endblock %}


{% block footer_block %}
    <button type="button" class="btn ripple btn-primary px-5">
        Kaydet
    </button>
{% endblock %}

{# Content Blocks/ #}
{% block body %}
    {% include 'modules/divided-page.html.twig' with
        {
            name: place._source.name,
            route: 'İşletmeler > ' ~ place._id,
            pages: [
            {
                name: 'Temel Özellikler',
                title: 'basic-props',
                islands: [
                {
                    name: 'Ürün Tanımı',
                    content: block('basic_block'),
                    col: 'col-9'
                },
                {
                    name: 'Etiketler',
                    content: block('tag_block'),
                    col: 'col-3'
                },
                {
                    name: 'Kategoriler',
                    content: block('tag_block'),
                    col: 'col-3'
                },
                {
                    name: 'Türler',
                    content: block('tag_block'),
                    col: 'col-3'
                }
            ],
                block: block('tag_block')
            },
            {
                name: 'Metalar',
                title: 'meta',
                islands: [
                {
                    name: 'Meta Tag',
                    content: block('meta_block')
                },
                {
                    name: 'Meta Tag 2',
                    content: block('meta_block')
                }
            ]
            },
            {
                name: 'Ürünler',
                title: 'product',
                islands: [
                {
                    name: 'Ürün Adı',
                    content: block('product_list_block')
                }
            ]
            }
        ],
            footer: block('footer_block')
        } %}
{% endblock %}
