<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-auto-close="outside"
   data-bs-toggle="dropdown" href="javascript:void(0)"><i class="material-icons-outlined">apps</i></a>
<div class="dropdown-menu dropdown-menu-end dropdown-apps shadow-lg p-3">
    <div class="border rounded-4 overflow-hidden">
        <div class="row row-cols-3 g-0 border-bottom">
            <div class="col border-end">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/01.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Gmail</p>
                    </div>
                </div>
            </div>
            <div class="col border-end">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/02.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Skype</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/03.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Slack</p>
                    </div>
                </div>
            </div>
        </div><!--end row-->

        <div class="row row-cols-3 g-0 border-bottom">
            <div class="col border-end">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/04.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">YouTube</p>
                    </div>
                </div>
            </div>
            <div class="col border-end">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/05.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Google</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/06.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Instagram</p>
                    </div>
                </div>
            </div>
        </div><!--end row-->

        <div class="row row-cols-3 g-0 border-bottom">
            <div class="col border-end">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/07.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Spotify</p>
                    </div>
                </div>
            </div>
            <div class="col border-end">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/08.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Yahoo</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/09.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Facebook</p>
                    </div>
                </div>
            </div>
        </div><!--end row-->

        <div class="row row-cols-3 g-0">
            <div class="col border-end">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/10.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Figma</p>
                    </div>
                </div>
            </div>
            <div class="col border-end">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/11.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Paypal</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="assets/images/apps/12.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                        <p class="mb-0">Photo</p>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div>
</div>