<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:void(0)" data-bs-toggle="dropdown"><img src="assets/images/county/02.png" width="22" alt="">
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:void(0)"><img src="assets/images/county/01.png" width="20" alt=""><span class="ms-2">English</span></a>
        </li>
        <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:void(0)"><img src="assets/images/county/02.png" width="20" alt=""><span class="ms-2">Catalan</span></a>
        </li>
        <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:void(0)"><img src="assets/images/county/03.png" width="20" alt=""><span class="ms-2">French</span></a>
        </li>
        <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:void(0)"><img src="assets/images/county/04.png" width="20" alt=""><span class="ms-2">Belize</span></a>
        </li>
        <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:void(0)"><img src="assets/images/county/05.png" width="20" alt=""><span class="ms-2">Colombia</span></a>
        </li>
        <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:void(0)"><img src="assets/images/county/06.png" width="20" alt=""><span class="ms-2">Spanish</span></a>
        </li>
        <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:void(0)"><img src="assets/images/county/07.png" width="20" alt=""><span class="ms-2">Georgian</span></a>
        </li>
        <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:void(0)"><img src="assets/images/county/08.png" width="20" alt=""><span class="ms-2">Hindi</span></a>
        </li>
    </ul>
</li>