<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-auto-close="outside"
   data-bs-toggle="dropdown" href="javascript:void(0)"><i class="material-icons-outlined">done_all</i></a>
<div class="dropdown-menu dropdown-menu-end mega-menu shadow-lg p-4 p-lg-5">
    <div class="mega-menu-widgets">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4 g-lg-5">
            <div class="col">
                <div class="card rounded-4 shadow-none border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3">
                            <div class="mega-menu-icon flex-shrink-0 bg-danger">
                                <i class="material-icons-outlined">question_answer</i>
                            </div>
                            <div class="mega-menu-content">
                                <h5>Marketing</h5>
                                <p class="mb-0 f-14">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate
                                    the visual form of a document.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 shadow-none border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3">
                            <img src="#{# TODO #}" width="40" alt="">
                            <div class="mega-menu-content">
                                <h5>Website</h5>
                                <p class="mb-0 f-14">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate
                                    the visual form of a document.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 shadow-none border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3">
                            <img src="#{# TODO #}" width="40" alt="">
                            <div class="mega-menu-content">
                                <h5>Subscribers</h5>
                                <p class="mb-0 f-14">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate
                                    the visual form of a document.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 shadow-none border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3">
                            <img src="#{# TODO #}" width="40" alt="">
                            <div class="mega-menu-content">
                                <h5>Hubspot</h5>
                                <p class="mb-0 f-14">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate
                                    the visual form of a document.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 shadow-none border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3">
                            <img src="#{# TODO #}" width="40" alt="">
                            <div class="mega-menu-content">
                                <h5>Templates</h5>
                                <p class="mb-0 f-14">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate
                                    the visual form of a document.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 shadow-none border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3">
                            <img src="#{# TODO #}" width="40" alt="">
                            <div class="mega-menu-content">
                                <h5>Ebooks</h5>
                                <p class="mb-0 f-14">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate
                                    the visual form of a document.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 shadow-none border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3">
                            <img src="#{# TODO #}" width="40" alt="">
                            <div class="mega-menu-content">
                                <h5>Sales</h5>
                                <p class="mb-0 f-14">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate
                                    the visual form of a document.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 shadow-none border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3">
                            <img src="#{# TODO #}" width="40" alt="">
                            <div class="mega-menu-content">
                                <h5>Tools</h5>
                                <p class="mb-0 f-14">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate
                                    the visual form of a document.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-4 shadow-none border mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-start gap-3">
                            <img src="#{# TODO #}" width="40" alt="">
                            <div class="mega-menu-content">
                                <h5>Academy</h5>
                                <p class="mb-0 f-14">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate
                                    the visual form of a document.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div>

</div>