<!DOCTYPE html>
<html lang="tr" data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Yakalamaç Admin Panel!
            {% endblock %}
        </title>
        <link rel="icon" href="{{ asset('vue/image/icon/logo.ico') }}">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <!-- Container -->
            {% block body %}
                {# Body goes here #}
            {% endblock %}
    <!-- Container/ -->
    </body>
</html>