{% extends "admin/base.html.twig" %}

{% block title %}
	Puan Market Etkinliği Oluştur
{% endblock %}


{% block body %}
	<div class="main-content">
		<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
			<div class="breadcrumb-title pe-3">
				<h1>Market Etkinliği Oluştur</h1>
			</div>
			<div class="ps-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-0 p-0">
						<li class="breadcrumb-item">
							<a href="javascript:void(0)"></a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Anasayfa</li>
					</ol>
				</nav>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-lg-12">
				<div class="card p-4">
					<div class="card-header">
						<h5>Etkinlik Bilgisi</h5>
					</div>
					<div class="card-body p-4">
						<div class="row mb-3">
							<label for="name" class="col-sm-3 col-form-label">Etkinlik Adı</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="name" placeholder="name" required>
							</div>
						</div>
						<div class="row mb-3">
							<label for="price" class="col-sm-3 col-form-label">Fiyat</label>
							<div class="col-sm-9">
								<input type="number" class="form-control" id="price" placeholder="0" required>
							</div>
						</div>
						<div class="row mb-3">
							<label for="stock" class="col-sm-3 col-form-label">Stok</label>
							<div class="col-sm-9">
								<input type="number" class="form-control" id="stock" placeholder="0" required>
							</div>
						</div>
						<div class="row mb-3">
							<label for="cycleDays" class="col-sm-3 col-form-label">Tekrar Gün Sayısı</label>
							<div class="col-sm-9">
								<input type="number" class="form-control" id="cycleDays" placeholder="0" required>
							</div>
						</div>
						<div class="row mb-3">
							<label for="status" class="col-sm-3 col-form-label">Durum</label>
							<div class="col-sm-9">
								<select id="status" class="form-control">
									<option value="active">Aktif</option>
									<option value="inactive">Pasif</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="card p-4">
					<div class="card-header">
						<h5 class="card-title mb-0">Banner</h5>
					</div>
					<div class="row g-0">
						<div class="col-md-4 border-end text-center p-3">
							<img id="previewImage" src="https://cdn.yaka.la/assets/web/yakalamac-icon.png" class="" alt="Görsel" style="object-fit:cover;">
							<input type="file" id="imageUpload" class="form-control mt-3" accept="image/*">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<div class="row mb-3">
									<label for="icon" class="col-sm-3 col-form-label">Banner Başlığı</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="icon" placeholder="icon (URL veya isim)">
									</div>
								</div>
								<div class="row mb-3">
									<label for="bannerTag" class="col-sm-3 col-form-label">Etiket</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="bannerTag" placeholder="#etiket">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card p-4">
					<div class="card-header">
						<h5 class="card-title mb-0">Açıklama</h5>
					</div>
					<div class="card-body p-4">
						<textarea class="form-control" id="detail" rows="6" placeholder="Açıklama yazınız..." required></textarea>
					</div>
				</div>

				<div class="card p-4">
					<div class="card-header">
						<h5 class="card-title mb-0">Geçerlilik Tarihi</h5>
					</div>
					<div class="card-body p-4">
						<div class="row mb-3">
							<label for="startAt" class="col-sm-3 col-form-label">Başlangıç Tarihi</label>
							<div class="col-sm-9">
								<input type="datetime-local" class="form-control" id="startAt" required>
							</div>
						</div>
						<div class="row mb-3">
							<label for="endAt" class="col-sm-3 col-form-label">Bitiş Tarihi</label>
							<div class="col-sm-9">
								<input type="datetime-local" class="form-control" id="endAt" required>
							</div>
						</div>
					</div>
				</div>

				<div class="card rounded-4">
					<div class="card-body text-end">
						<button type="button" class="btn ripple btn-grd btn-grd-success px-5" id="button-save">
							Kaydet
						</button>
					</div>
				</div>
				<div id="toast-container" aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0"></div>
			</div>
		</div>
	{% endblock %}
	{% block javascripts %}
		<script type="module" src="{{ asset('script/admin/point-market/add.js') }}"></script>
	{% endblock %}
