{% extends 'base.html.twig' %}

{% block base_stylesheets %}
    <link rel="stylesheet" href="{{ asset('horizontal/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css">
    {% block stylesheets %}{# TODO #}{% endblock %}
{% endblock %}


{% block base_body %}
    <header class="top-header">
        {% include 'public/landing-page/navbar.html.twig' %}
    </header>

    <main class="main-wrapper">
        <div class="main-content">
            {% block body %}
            {% endblock %}
        </div>
    </main>

    <footer class="mt-auto mb-0 w-100" style="height: 100px; line-height: 100px;">
        {% include 'public/landing-page/about-us.html.twig' %}
    </footer>
{% endblock %}


{% block base_javascripts %}
    {% block javascripts %}{# TODO #}{% endblock %}
{% endblock %}