<div>
    <img src="{{asset('assets/images/yakala/logo.png')}}" style="width:300px" class="logo-img" alt="Yakalamaç">
    <br>
    <a href="{{ path('app_login') }}" style="font-size:20px"> Giriş yap </a>
</div>